:root {
    --bg-clr:black;
    --txt-clr:white;
}

::-webkit-scrollbar {width: 0;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100vw;
    height: 100vh;
    
    background-color: var(--bg-clr);
    color: var(--txt-clr);
}

.messageDisplay {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 300px;
    min-height: 200px;

    padding: 10px;
    border-radius: 10px;
    border: 2px solid rgb(40,40,40);
}