:root {
    --bg-clr:black;
    --txt-clr:white;
}

::-webkit-scrollbar {width: 0;}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.mainContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100vw;
    height: 100vh;
    
    background-color: var(--bg-clr);
    color: var(--txt-clr);
}

.subMainContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;
    flex-direction: column;

    width: 100vw;
    max-width: 1000px;
    min-width: 300px;

    padding: 10px;
}

.headingContainer {
    display: flex;
    align-items: center;
    justify-content: flex-start;

    width: calc(100% - 20px);
    height: 60px;

    padding: 10px;
    font-size: 30px;
    font-weight: 700;
    border: 0;
    border-bottom: 2px solid rgb(40,40,40);
}

.userSearchBox {
    display: flex;
    align-items: center;
    justify-content: center;

    width: 100%;
    max-width: 600px;
    min-width: 300px;
    height: 40px;

    margin: 10px;
    padding-left: 20px;
    font-size: 18px;
    background-color: transparent;
    border: 1px solid rgb(40,40,40);
}

.userSearchBox::placeholder {color: rgb(110,110,110);}

.usersMainContainer {
    display: flex;
    align-items: flex-start;
    justify-content: flex-start;
    flex-direction: row;
    flex-wrap: wrap;

    width: 100%;
}

.userContainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;

    height: 70px;
    width: 130px;

    border: 1px solid rgb(40,40,40);
    padding: 5px;
    margin: 5px;
}